root = true

[*]
end_of_line = lf
insert_final_newline = true
max_line_length = 120
indent_style = space
indent_size = tab
charset = utf-8
tab_width = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{json,csproj,asmdef,meta}]
tab_width = 2

[*.cs]
insert_final_newline = false